<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InsertFlight</servlet-name>
        <servlet-class>com.technical.InsertFlight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>com.technical.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegistration</servlet-name>
        <servlet-class>com.technical.UserRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>com.technical.UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlightList</servlet-name>
        <servlet-class>com.technical.FlightList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>com.technical.ForgotPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertFlight</servlet-name>
        <url-pattern>/InsertFlight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegistration</servlet-name>
        <url-pattern>/UserRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlightList</servlet-name>
        <url-pattern>/FlightList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
